
*


!.gitignore


.DS_Store
Thumbs.db


*.log
*.tmp
*.temp
*.bak
*.swp
*.swo


__pycache__/
*.egg-info/
dist/
build/
*.egg/


.idea/
.vscode/
*.iml
*.pdb


.env
.venv/
venv/
.env.local


.cache/