# Игнорировать все файлы с расширением zone.identifier
*.zone.identifier

# Игнорировать временные файлы и мусор
*.tmp
*.temp
*.bak
*.log
*.swp
*.swo
*.DS_Store
Thumbs.db

# Игнорировать кэшированные и временные файлы IDE
.idea/
.vscode/
__pycache__/

# Игнорировать папки, которые не нужны
node_modules/
dist/
build/
*.egg-info/

# Если нужны определенные файлы или папки, укажите их явно
!src/          # Пример: не игнорировать папку src
!README.md     # Пример: не игнорировать файл README.md